# Data Collection
praw==7.7.1
python-dotenv>=1.0.0
langdetect>=1.0.9
beautifulsoup4==4.12.3

# Database
psycopg2-binary>=2.9.9
SQLAlchemy>=2.0.25

# Data Processing
spacy==3.7.2
transformers>=4.36.2
torch>=2.1.2
pandas>=2.0.0
numpy>=1.24.0
textblob>=0.17.1

# Additional utilities
tqdm>=4.66.1
iso3166==2.1.1
requests>=2.31.0
scikit-learn>=1.3.2

# Visualization
dash==2.14.2
plotly==5.18.0

# Spark
pyspark>=3.5.0
delta-spark>=3.1.0
python-dateutil>=2.8.2

# Environment variables
python-dotenv>=1.0.0

# Sentiment Analysis
vaderSentiment==3.3.2 